# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/

# Git
.git/
.gitignore

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Model artifacts (optional if large)
*.pkl
*.joblib

# IDE
.vscode/
.idea/

# Cache
.cache/